:root {
    --color-primary: #85979b;
    --color-secondary: #facc15;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Custom utilities */
.text-primary {
    color: var(--color-primary);
}

.bg-secondary {
    background-color: var(--color-secondary);
}

.custom-container {
    max-width: 1400px;
    margin: auto;
}

.overlay-footer {
    position: absolute;
    background-color: #15252B;
    opacity: 0.96;
    width: 100%;
    top: 0;
    bottom: 0;
}

.pxl-hover-line a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #000;
    transition: color 0.3s ease;
}

.pxl-hover-line a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    background: currentColor;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.pxl-hover-line a:hover::after {
    transform: scaleX(1);
}